.navbar {
	position: relative;
}
.link {
	padding: 8px 15px;
	
	margin: 10px -15px 20px -15px;
	list-style: none;
	background-color: #e6e6e6;
	border-radius: 4px;
}

.link > li {
	display: inline-block;
}



















